<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<title>Blocks</title>
<div th:insert="~{fragment/nav :: navigation}"></div>
<body>
<section class="main-content">
    <div class="container p-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="block : ${blocks}">
                <td th:text="${block.getId()}"/>
                <td>
                    <a th:href="@{/admin/blocks/{id}(id=${block.getId()})}" th:text="${block.getName()}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>