<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="~{fragment/nav :: navigation}"></div>
<title>Lessons</title>
<body>
<section class="main-content">
    <div class="container p-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Блок</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${lessons}">
                <td th:text="${lesson.getId()}"/>
                <td>
                    <a th:href="@{/lesson/edit/{id}(id=${lesson.getId()})}" th:text="${lesson.getName()}"/>
                </td>
                <td th:text="${lesson.getBlock().getName()}"/>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>