<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<title>Students</title>
<div th:insert="~{fragment/nav :: navigation}"></div>
<body>
<section class="main-content">
    <div class="container p-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Возраст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.getId()}"/>
                <td>
                    <a th:href="@{/student/{id}(id=${student.getId()})}" th:text="${student.getName()}"/>
                </td>
                <td th:text="${student.getSurname()}"/>
                <td th:text="${student.getAge()}"/>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>