<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<title>Student</title>
<div th:insert="~{fragment/nav :: navigation}"></div>
<section class="main-content">
    <div class="container p-3">
        <div class="card border-dark">
            <div class="card-body">
                <h5 class="card-title" th:text="|${student.getName()} ${student.getSurname()}|">Название карточки</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${student.getAge()}">An item</li>
                    <li class="list-group-item" th:text="${student.getDateOfRegistration()}">A second item</li>
                    <li class="list-group-item" th:text="${student.getEmail()}">A third item</li>
                </ul>
                <a class="btn btn-primary" th:href="@{/student/update/{id}(id=${student.getId()})}">Редактировать</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>