<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<title>Block</title>
<div th:insert="~{fragment/userNavigation :: navigation}"></div>
<body>
<section class="main-content mt-3">
    <div class="row">
        <div class="col-sm-4" th:each="lesson : ${lessons}">
            <div class="card border-primary m-2 h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${lesson.name}">Name</h5>
                    <p class="card-text" th:text="${lesson.description}">Text</p>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between  align-items-center">
                            <a th:href="@{/}" class="btn btn-primary">Открыть урок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>